<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Wiki - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles_output.css">
    </head>
    <body class="bg-gradient-to-r from-black from-25% via-zinc-900 from-65% to-Jasper">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
      <header class="py-4 px-6 shadow">
        <div class="mx-auto flex flex-row items-center justify-between">
          <h1 class="p-6 text-5xl font-bold text-gray-800 stroke-cyan-500">User Wiki</h1>  
       </div>  
      </header> 

      <hr>

      <main class="p-12 flex-col"> 
        <div class="flex flex-col w-1/2 gap-2 mt-6" id="link-container"> 
          <div class="transition ease-in-out p-8 md:p-4 flex flex-col items-center md:flex-row hover:translate-x-6 hover:scale-125 duration-300">
            <a href="./eldenring_index.html"> 
              <img src="./images/eldenring.jpg" alt="Elden Ring Logo" class="mb-4 md:mb-0 md:mr-4"/>
            </a>
          </div>
          <div class="transition ease-in-out p-8 md:p-4 flex flex-col items-center md:flex-row shadow-2xl hover:scale-110 duration-300">
            <a href="./pokemon_index.html"> 
              <img src="./images/pokemon-logo-png-1421.png" alt="Pokemon Logo" class="mb-4 md:mb-0 md:mr-4"/> 
            </a>
          </div>
        </div>
      </main>                
        
        <script type="module" src="index.js" async defer></script>
    </body>
</html>